/*https://media.istockphoto.com/photos/portrait-of-a-nice-looking-woman-picture-id670578264*/
/*https://images.unsplash.com/photo-1492552181161-62217fc3076d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=773&q=80*/

.banner {
		height: 100vh;
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
		url("https://images.unsplash.com/photo-1492552181161-62217fc3076d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=773&q=80");
		background-size: cover;
		background-position: center;
		text-align: center;
		padding: 30px;
		margin-bottom: 30px;

		.header {
			margin-top: 25vh;
			color: white;
			
			h1 {
				font-size: 100px;
				border-bottom: 6px solid rgb(237, 38, 71);
			}

			h4 {
				font-size: 80px;	
				font-weight: lighter;
				margin-bottom: 100px;
			}	

			.book {
				display: block;
				margin-bottom: 0;
				font-weight: lighter;
			}
		}

	}

@media only screen  and (min-width : 1224px) {
	.banner {
		height: 100vh;
		background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)),
		url("https://media.istockphoto.com/photos/portrait-of-a-nice-looking-woman-picture-id670578264");
		background-size: cover;
		background-position: center;

		.header {
			color: white;
			position: absolute;
			right: 5%;
			bottom: 35%;
			text-align: left;
			width: 30vw;

			h1 {
				font-size: 45px;
				border-bottom: 3px solid rgb(237, 38, 71);
			}

			.book {
				display: inline;
			}
		}

		.header h4 {
			font-size: 25px;
			font-weight: lighter;
			margin-bottom: 30px;
		}	
	}
}
