
.info {

	#map {
		width: 100vw;
		height: 30vh;
	}

	.info-text {
		padding: 30px;
		text-align: center;
		padding: 60px 30px;

		ul {
			list-style: none;
			padding: 0;
			
			.last-item {
				margin-bottom: 50px;
			}

			li {
			}

			h2 {
				font-size: 60px;
				color: rgb(237, 38, 71);
				// border-bottom: 4px solid rgb(237, 38, 71);
			}

			h4 {
				font-size: 40px;
				/*line-height: 50px;*/
			}

		}
	}
}

@media only screen  and (min-width : 1224px) {
	.info {
		display: flex;
		justify-content: space-evenly;
		padding: 50px 70px 50px 70px;

		#map {
			border: 1px solid rgb(237, 38, 71); 	
			height: 350px; 
			width: 450px;
		}

		.info-text {
			/*color: white;*/
			padding: 30px;
			padding-top: 0;
			text-align: left;

			ul {
				list-style: none;
				padding: 0;

				.last-item {
					margin-bottom: 10px;
				}

				h2 {
					font-size: 30px;
					color: rgb(237, 38, 71);
					// border-bottom: 4px solid rgb(237, 38, 71);
				}

						h4 {
							font-size: 20px;
							/*line-height: 50px;*/
				}
			}		
		}
	}
}