
.mybutton {
	/*background-color: rgb(237, 38, 71);*/
	margin-bottom: 100px;
	border: 12px solid rgb(237, 38, 71);
	border-radius: 55px;
	padding: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 50px;
	
}

.mybutton:hover {
	color: rgb(237, 38, 71);
	text-decoration: none;	
}	

.nav-button {
	/*border: 2px solid rgb(237, 38, 71);*/
	/*border-radius: 15px;*/
	padding: 10px;
	color: white;
	text-decoration: none;
	/*margin-top: 70px;*/
	/*font-weight: bold;*/
	font-size: 40px;
		
}

.nav-button:hover {
	color: rgb(237, 38, 71);
	text-decoration: none;
	/*font-weight: bold;	*/
}


@media only screen  and (min-width : 1224px) {
	.mybutton {
		border: 4px solid rgb(237, 38, 71);
		border-radius: 25px;
		padding: 12px;
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		
	}

	.mybutton:hover {
		color: rgb(237, 38, 71);
		text-decoration: none;	
	}

	.nav-button {
		/*border: 2px solid rgb(237, 38, 71);*/
		/*border-radius: 15px;*/
		padding: 10px;
		color: white;
		text-decoration: none;
		/*margin-top: 70px;*/
		/*font-weight: bold;*/
		font-size: 20px;
		
	}

	.nav-button:hover {
		color: rgb(237, 38, 71);
		text-decoration: none;
		/*font-weight: bold;	*/
	}
}