
.navbar {
	position: fixed;
	z-index: 11;
	top: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: space-between;
	padding: 5px 15px 5px 15px;
	width: 100%;

	.left-nav {
		font-weight: bold;
		font-size: 70px;
		color: rgb(237, 38, 71);
	}

	.right-nav {
		font-size: 50px;
		display: flex;
		justify-content: space-between;

		a {
			margin-left: 10px;
		}
	}
}

@media only screen  and (min-width : 1224px) {
	.navbar {
		position: fixed;
		z-index: 11;
		top: 0;
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		justify-content: space-between;
		padding: 5px 15px 5px 15px;
		width: 100%;

		.left-nav {
			font-weight: bold;
			font-size: 30px;
			color: rgb(237, 38, 71);
		}

		.right-nav {
			display: flex;
			justify-content: space-between;

			a {
				margin-left: 10px;
			}
		}
	}
}