.navbar {
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	padding: 5px 15px 5px 15px;
	width: 100%;

	.left-nav {
		font-weight: bold;
		font-size: 30px;
		color: rgb(237, 38, 71);
	}

	.right-nav {
		display: flex;
		justify-content: space-between;

		div {
			margin: 10px;
		}
	}
}