.title {
	height: 30vh;
	background-color: rgb(237, 38, 71);
	width: 100vw;

	h1 {
		padding-top: 50px;
		color: white;
		font-size: 50px;
	}
}

.price_list {
	/*display: none;*/
	width: 100vw;
	z-index: 10;
	/*margin: auto;*/


	.price_card {
		
		padding: 30px;
		color: white;
		background-color: rgba(0, 0, 0, 0.8);
		border: 2px solid white;

		ul {
			list-style: none;
			padding: 0; 
		}

		div{
			display: flex;
			justify-content: space-between;
		}

		h1 {
			font-size: 25px;
			color: rgb(237, 38, 71);
		}

		h4 {
			font-size: 15px;
		}
	}

}