
.price_list {
	display: none;
	background-color: white;
	width: 100vw;
	z-index: 10;
	/*margin: auto;*/

	.price_card {
		
		padding: 30px;

		ul {
			list-style: none;
			padding: 0; 
		}

		#nav {
			display: flex;
			justify-content: space-between;
		}

		h1 {
			font-size: 30px;
			color: rgb(237, 38, 71);
		}

		h4 {
			font-size: 20px;
		}
	}

}