
 .schedule {
 	
 	color: black;
 	
 	ul {
		
		padding: 0px;
		list-style: none;
		/*padding-top: 10px;*/
		padding-bottom: 50px;
		/*padding-bottom: 20px;*/
		li {

			div {

				margin: auto;
				width: 70vw;
				display: flex;
				justify-content: space-between;
				h3 {
					font-size: 40px;
				}
				h4 {
					font-size: 40px;
				}
			}
		}

 	}
 }

 @media only screen  and (min-width : 1224px) {
	
	.schedule {
 	
	 	margin-bottom: 20px;
	 	ul {
	 		padding: 0px 30px 30px 30px;
	 		margin: auto;
			/*width: 40%;*/
	 		/*background-color: rgb(237, 38, 71);*/
			li {
				div {
					width: 30vw;
					/*color: white;*/
					h3 {
						font-size: 25px;
						/*color: rgb(237, 38, 71);*/
					}

					h4 {
						font-size: 25px;
						/*color: rgb(237, 38, 71);*/
					}
				}
			}

	 	}
	 } 	
 }