
.services {
	padding: 30px;

	.services-items {
		text-align: center;
		padding: 20px;		

		h3 {
			font-size: 50px;
			color: rgb(237, 38, 71);
		}

		p {
			font-size: 40px;
		}
	}
}

@media only screen  and (min-width : 1224px) {
	.services {
		display: flex;
		justify-content: space-evenly;
		padding: 15px;

		.services-items {
			width: 33%;
			text-align: center;
			padding: 20px;		

			h3 {
				font-size: 30px;
			}

			p {
				font-size: 20px;
				/*color: white;*/
			}
		}
	}
}