body {
	font-family: 'Sen', sans-serif;
}

.sen-font {
	font-family: 'Sen', sans-serif;
}

.roboto-font {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	width: 100%;
	padding: 5px 15px 5px 15px;
	display: flex;
	justify-content: space-between;

	.left-nav {
		font-weight: bold;
		font-size: 30px;
	}

	.right-nav {
		display: flex;
		justify-content: space-between;

		div {
			margin: 10px;
		}
	}
}

.banner {
	height: 90vh;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)),
	url("https://images.unsplash.com/photo-1492552181161-62217fc3076d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=773&q=80");
	/*object-fit: cover;*/
	background-size: cover;
	background-position: center;
	/*object-position: center;*/
	/*background-color: blue;*/
	.header{
		color: white;
		position: absolute;
		right: 10%;
		bottom: 30%;
	}

	.header h4 {
		font-weight: lighter;
	}
}
