body {
	font-family: 'Sen', sans-serif;
	/*background-color: rgba(50, 50, 50, 1);*/
}

.sen-font {
	font-family: 'Sen', sans-serif;
}

.roboto-font {
	font-family: 'Roboto', sans-serif;
}


